#mainFrame{
transition: 0.5s;
position: fixed;

opacity: 0;

display: grid;



border: solid 3px gray;

}


#curFig{


position: fixed;

}


#startButton{

transition: 0.5s;
position: fixed;
height: 75px;
width: 200px;
font-size: 55px;
color: #b30c00;
background-color: #d4d4d4;
border: solid 5px red;
border-radius: 10%;
top: 300px;

}
